.imagen {
    width: 100%;
    height: auto;
  }
  ion-content::part(background) {
    background: #6E5470;
  }
  
  ion-content::part(scroll) {
    color: #fff;
}
ion-col {
    background-color: #F0D685;
    border: solid 1px #000000;
    color: #000000;
    text-align: center;
    
  }
  ion-button {
    display: flex;
    
    background-color: #E684F0;
    color: #000000;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    margin: 10px auto; /* Para centrar horizontalmente */
    max-width: 100%; /* Para asegurar la capacidad de respuesta */
    width: 17rem; /* Puedes ajustar este valor según sea necesario */
    border-radius: 10px;
    
  }
    