<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>MOMASOS</ion-card-title>
      <ion-card-subtitle>MUY SHITPOST :D</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.drdgkKwy82wsCncGw_UWnwHaFj?rs=1&pid=ImgDetMain" />
          </ion-thumbnail>
          <ion-label>QUE GOCE</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP._VwMwiNkG4GfYnkCdXAbnQAAAA?w=250&h=250&rs=1&pid=ImgDetMain" />
          </ion-thumbnail>
          <ion-label>YAYA MIJO YA</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.qNdsQ4hQchJjkX8QQxvILwHaEK?rs=1&pid=ImgDetMain" />
          </ion-thumbnail>
          <ion-label>MI PRIMERA CHAMBA</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.QSIN8Q3kfGS5yjSsANO1cgHaHX?rs=1&pid=ImgDetMain" />
          </ion-thumbnail>
          <ion-label>XD</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear" [routerLink]="'/ej2'" shape="round">
    <ion-label>PASAR AL EJERCICIO 2 ---></ion-label>
  </ion-button>


</ion-content>
