<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">Columna 1</ion-col>
      <ion-col size="12" size-md="6" size-lg="4">Columna 2</ion-col>
      <ion-col size="12" size-md="6" size-lg="4">Columna 3</ion-col>
    </ion-row>
  </ion-grid>
  <ion-button fill="clear" [routerLink]="'/ejercicio'" shape="round">
    <ion-label>PASAR AL EJERCICIO 1 ---></ion-label>
  </ion-button>
  <ion-button fill="clear" [routerLink]="'/ej3'" shape="round">
    <ion-label>PASAR AL EJERCICIO 3 ---></ion-label>
  </ion-button>
</ion-content>

